<div class="depot_form"> 
    <fieldset>
        <legend><%= t('.legend') %></legend>
        <%= javascript_pack_tag("pay_type") %>
        <%= render 'form', order: @order %> 
    </fieldset>
</div>

